.login .button2{

    background-color: #2C3048;
    border-color: #2C3048;

    display: inline-block;
    font-weight: 700;
    color: #F9F9F9;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* background-color: transparent;
    border: 1px solid transparent; */
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    

}

.login .loginForm{
    background-color: #2C3048;
    margin: 10px;
    color: #F9F9F9;
    padding: 10px;
    padding-right: 15px;
}

.login input{
    width: 100%;
    padding: 5px 5px;
    margin: 5px;
    /* box-sizing: border-box; */
    border: 2px solid #2C3048;
    border-radius: 4px;
    background-color: #F9F9F9;
    color: #2C3048;
}

.login label{
    margin-top: 5px;
}