
body{
    background-color: #4D82A0;
}

.movieSearch .bodySearch{
    display: flex;
    justify-content: center;
    padding: 50px;
}

.red{
    border: 2px solid red;
}

.movieSearch input{
    min-width: 150px;
    max-width: 350px;
    width: 50%;
}

.movieSearch .card{
    padding: 10px;
}